@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
